.shaderForm {
  text-align: center;
}

.panel {
  margin-top: 10px;
  margin-bottom: 5px;
}

.panelNoSchema {
  box-shadow: 0 0 0 2px var(--ant-color-error);
  background-color: var(--ant-color-error-bg);
}
