.tabs,
.content,
.body {
  height: 100%;
}

.header {
  margin: 0;
  margin-bottom: 0;

  &::before {
    border-color: var(--ant-color-border);
  }
}

.item {
  padding: 4px 8px;

  border-color: var(--ant-color-border);
}
