.debugLayers {
  display: flex;
  flex-direction: column;

  padding: 10px 10px 15px;
}

.layerField {
  display: flex;
}

.layerField + .layerField {
  margin-top: 10px;
}

.layerLabel {
  width: 40%;
}
