.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 35px;
  padding: 0 5px;

  border-bottom: 1px solid var(--ant-color-border);

  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.toolGroup {
  flex-shrink: 0;

  padding-right: 8px;
  margin-right: 8px;

  border-right: 1px solid var(--ant-color-border);
}

.toolFeatures {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;

  flex-shrink: 0;
}

.checkbox {
  & span {
    padding-right: 0;
  }
}
