.panel {
}

.panelMiddle {
  border: 1px solid var(--ant-color-border);
  border-radius: var(--ant-border-radius-lg);
}

.panelSmall {
  border-bottom: 1px solid var(--ant-color-border-secondary);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headingMiddle {
  padding: 2px 5px;
}

.headingSmall {
  padding: 6px 0;
}

.headingBordered {
  border-bottom: 1px solid var(--ant-color-border);
}

.content {
}

.contentMiddle {
  background-color: var(--ant-color-bg-container);
  border-radius: 0 0 var(--ant-border-radius-lg) var(--ant-border-radius-lg);
  padding: 5px;
}

.contentSmall {
  padding: 2px 0 8px;
}

.buttonSmall {
  display: flex;
  align-items: center;
  justify-content: center;
}
