.window {
  box-sizing: border-box;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  margin: 3px;
  overflow: hidden;

  border-radius: var(--ant-border-radius);
  border: 1px solid var(--ant-color-border);
  background-color: var(--ant-color-bg-container);
}
