.eventList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sectionHeader {
  display: block;
  margin-top: 5px;
}

.panel {
  margin: 5px 0;
}

.button {
  width: 100%;
  margin: 5px 0;
}

.keyPicker {
  width: 100%;
}
